.eachblog {
    display: flexbox;
    justify-content: baseline;
    border: 2px solid;
    padding: 15px 5px;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
}