body{
    background-color: azure;
}
.header{
    background-color: rgb(170, 216, 228);
    border: 5px dotted rgb(0, 88, 84);
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#toggleButton{
    background-color: rgb(0, 88, 84);
    color: white;
    cursor: pointer;
}

.blogpost {
    border: 2px solid;
    padding: 15px 5px;
    margin-top: 10px;
    background-color: rgb(247, 254, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.author {
    font-style: italic;
    color: gray;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
}